// Code generated by Fern. DO NOT EDIT.

package trajectory

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	agent "github.com/getzep/zep-go/v4/agent"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &agent.CreateAgentTrajectoryRequest{
//	    Objective: "objective",
//	    TaskFamily: "task_family",
//	}
//	client.Agent.Trajectory.Create(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.CreateAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectory, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.AgentTrajectoryListRequest{}
//	client.Agent.Trajectory.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.AgentTrajectoryListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentTrajectory, *zep.AgentTrajectoryPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/trajectories/list",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.AgentTrajectoryPage) *core.PageResponse[*string, *zep.AgentTrajectory, *zep.AgentTrajectoryPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentTrajectory, *zep.AgentTrajectoryPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Agent.Trajectory.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	opts ...option.RequestOption,
) (*zep.AgentTrajectory, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		trajectoryUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.DeleteAgentTrajectoryRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Trajectory.Delete(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *zep.DeleteAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectorySourceDeletionResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.PatchAgentTrajectoryRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Trajectory.Update(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.PatchAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectory, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.AbandonAgentTrajectoryRequest{
//	    HighestAcceptedSequence: 1,
//	}
//	client.Agent.Trajectory.Abandon(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) Abandon(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.AbandonAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectoryFinalizationResult, error) {
	response, err := c.WithRawResponse.Abandon(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.CloseAgentTrajectoryRequest{}
//	client.Agent.Trajectory.Close(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) Close(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.CloseAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectoryFinalizationResult, error) {
	response, err := c.WithRawResponse.Close(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.CorrectAgentTrajectoryTaskFamilyRequest{
//	    ExpectedRevision: 1,
//	    Reason: "reason",
//	}
//	client.Agent.Trajectory.CorrectTaskFamily(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) CorrectTaskFamily(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.CorrectAgentTrajectoryTaskFamilyRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectoryFinalizationResult, error) {
	response, err := c.WithRawResponse.CorrectTaskFamily(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.TrajectoryListEventsRequest{}
//	client.Agent.Trajectory.ListEvents(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) ListEvents(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.TrajectoryListEventsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentTrajectoryEvent, *zep.AgentTrajectoryEventPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/trajectories/%v/events",
		agentUUID,
		trajectoryUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.AgentTrajectoryEventPage) *core.PageResponse[*string, *zep.AgentTrajectoryEvent, *zep.AgentTrajectoryEventPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentTrajectoryEvent, *zep.AgentTrajectoryEventPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &agent.AppendAgentTrajectoryEventRequest{
//	    EventType: zep.AgentTrajectoryEventTypeInputReference,
//	}
//	client.Agent.Trajectory.AppendEvent(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) AppendEvent(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.AppendAgentTrajectoryEventRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectoryEvent, error) {
	response, err := c.WithRawResponse.AppendEvent(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.DeleteAgentTrajectoryRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Trajectory.DeleteEvent(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    "event_uuid",
//	    request,
//	)
func (c *Client) DeleteEvent(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	// Event UUID
	eventUUID string,
	request *zep.DeleteAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectorySourceDeletionResult, error) {
	response, err := c.WithRawResponse.DeleteEvent(
		ctx,
		agentUUID,
		trajectoryUUID,
		eventUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.ReopenAgentTrajectoryRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Trajectory.Reopen(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) Reopen(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.ReopenAgentTrajectoryRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentTrajectory, error) {
	response, err := c.WithRawResponse.Reopen(
		ctx,
		agentUUID,
		trajectoryUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Agent.Trajectory.GetSummary(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	)
func (c *Client) GetSummary(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	opts ...option.RequestOption,
) (*zep.AgentTrajectorySummaryVersion, error) {
	response, err := c.WithRawResponse.GetSummary(
		ctx,
		agentUUID,
		trajectoryUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.TrajectoryListSummaryVersionsRequest{}
//	client.Agent.Trajectory.ListSummaryVersions(
//	    context.TODO(),
//	    "agent_uuid",
//	    "trajectory_uuid",
//	    request,
//	)
func (c *Client) ListSummaryVersions(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory UUID
	trajectoryUUID string,
	request *agent.TrajectoryListSummaryVersionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentTrajectorySummaryVersion, *zep.AgentTrajectorySummaryPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/trajectories/%v/summary/versions",
		agentUUID,
		trajectoryUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.AgentTrajectorySummaryPage) *core.PageResponse[*string, *zep.AgentTrajectorySummaryVersion, *zep.AgentTrajectorySummaryPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentTrajectorySummaryVersion, *zep.AgentTrajectorySummaryPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
