// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	learning "github.com/getzep/zep-go/v4/agent/learning"
	literalpolicy "github.com/getzep/zep-go/v4/agent/literalpolicy"
	client "github.com/getzep/zep-go/v4/agent/skill/client"
	split "github.com/getzep/zep-go/v4/agent/split"
	trajectory "github.com/getzep/zep-go/v4/agent/trajectory"
	trajectoryimportclient "github.com/getzep/zep-go/v4/agent/trajectoryimport/client"
	verifier "github.com/getzep/zep-go/v4/agent/verifier"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse  *RawClient
	Learning         *learning.Client
	LiteralPolicy    *literalpolicy.Client
	Skill            *client.Client
	Split            *split.Client
	Trajectory       *trajectory.Client
	TrajectoryImport *trajectoryimportclient.Client
	Verifier         *verifier.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		Learning:         learning.NewClient(options),
		LiteralPolicy:    literalpolicy.NewClient(options),
		Skill:            client.NewClient(options),
		Split:            split.NewClient(options),
		Trajectory:       trajectory.NewClient(options),
		TrajectoryImport: trajectoryimportclient.NewClient(options),
		Verifier:         verifier.NewClient(options),
		WithRawResponse:  NewRawClient(options),
		options:          options,
		baseURL:          options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &zep.CreateAgentRequest{
//	    AgentID: "agent_id",
//	    Name: "name",
//	    SecurityDomain: "security_domain",
//	}
//	client.Agent.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *zep.CreateAgentRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Agent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.AgentListRequest{}
//	client.Agent.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *zep.AgentListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Agent, *zep.AgentPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := baseURL + "/agents/list"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.AgentPage) *core.PageResponse[*string, *zep.Agent, *zep.AgentPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Agent, *zep.AgentPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Agent.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	opts ...option.RequestOption,
) (*zep.Agent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.DeleteAgentRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Delete(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *zep.DeleteAgentRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentDeleteResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.PatchAgentRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Update(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *zep.PatchAgentRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Agent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.DeclareAgentBreakingChangeRequest{
//	    ExpectedRevision: 1,
//	    Version: "version",
//	}
//	client.Agent.DeclareBreakingChange(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) DeclareBreakingChange(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *zep.DeclareAgentBreakingChangeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentBreakingChange, error) {
	response, err := c.WithRawResponse.DeclareBreakingChange(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.GetAgentContextRequest{}
//	client.Agent.GetContext(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) GetContext(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *zep.GetAgentContextRequest,
	opts ...option.RequestOption,
) (*zep.AgentContext, error) {
	response, err := c.WithRawResponse.GetContext(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
