// Code generated by Fern. DO NOT EDIT.

package trace

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
	traceconnection "github.com/getzep/zep-go/v4/traceconnection"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Read one trace and optionally preview a mapping. Example body: `{"provider_project_id":"project_123","trace_id":"trace-123","mapping":{"task_family":{"source":"fixed","value":"support"}}}`.
//
// Example:
//
//	request := &traceconnection.SourceTraceGetRequest{
//	    ProviderProjectID: "project_123",
//	    TraceID: "trace_123",
//	}
//	client.TraceConnection.Trace.Get(
//	    context.TODO(),
//	    "connection_uuid",
//	    request,
//	)
func (c *Client) Get(
	ctx context.Context,
	// Trace connection UUID
	connectionUUID string,
	request *traceconnection.SourceTraceGetRequest,
	opts ...option.RequestOption,
) (*zep.SourceTraceResponse, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		connectionUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Filter provider traces. Example body: `{"provider_project_id":"project_123","filter":{"started_after":"2026-01-01T00:00:00Z"}}`.
//
// Example:
//
//	request := &traceconnection.SourceTraceListRequest{
//	    ProviderProjectID: "project_123",
//	}
//	client.TraceConnection.Trace.List(
//	    context.TODO(),
//	    "connection_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Trace connection UUID
	connectionUUID string,
	request *traceconnection.SourceTraceListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.SourceTraceSummary, *zep.SourceTracePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/trace-connections/%v/traces/list",
		connectionUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.SourceTracePage) *core.PageResponse[*string, *zep.SourceTraceSummary, *zep.SourceTracePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.SourceTraceSummary, *zep.SourceTracePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
