// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
	message "github.com/getzep/zep-go/v4/thread/message"
)

type Client struct {
	WithRawResponse *RawClient
	Message         *message.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		Message:         message.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &zep.ThreadListRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    OrderBy: zep.String(
//	        "order_by",
//	    ),
//	    Order: zep.String(
//	        "order",
//	    ),
//	    UserUUID: zep.String(
//	        "user_uuid",
//	    ),
//	}
//	client.Thread.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *zep.ThreadListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Thread, *zep.ThreadPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := baseURL + "/threads"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.ThreadPage) *core.PageResponse[*string, *zep.Thread, *zep.ThreadPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Thread, *zep.ThreadPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.CreateThreadRequest{
//	    UserUUID: "user_uuid",
//	}
//	client.Thread.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *zep.CreateThreadRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Thread, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.LookupRequest{}
//	client.Thread.Lookup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Lookup(
	ctx context.Context,
	request *zep.LookupRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Thread, error) {
	response, err := c.WithRawResponse.Lookup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Thread.Get(
//	    context.TODO(),
//	    "thread_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	opts ...option.RequestOption,
) (*zep.Thread, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		threadUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Thread.Delete(
//	    context.TODO(),
//	    "thread_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.ThreadDeleteResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		threadUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.ThreadGetContextRequest{
//	    TemplateUUID: zep.String(
//	        "template_uuid",
//	    ),
//	}
//	client.Thread.GetContext(
//	    context.TODO(),
//	    "thread_uuid",
//	    request,
//	)
func (c *Client) GetContext(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	request *zep.ThreadGetContextRequest,
	opts ...option.RequestOption,
) (*zep.ThreadContextResponse, error) {
	response, err := c.WithRawResponse.GetContext(
		ctx,
		threadUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.ThreadListEpisodesRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	}
//	client.Thread.ListEpisodes(
//	    context.TODO(),
//	    "thread_uuid",
//	    request,
//	)
func (c *Client) ListEpisodes(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	request *zep.ThreadListEpisodesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Episode, *zep.EpisodePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/threads/%v/episodes",
		threadUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.EpisodePage) *core.PageResponse[*string, *zep.Episode, *zep.EpisodePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Episode, *zep.EpisodePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.ThreadListMessagesRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	}
//	client.Thread.ListMessages(
//	    context.TODO(),
//	    "thread_uuid",
//	    request,
//	)
func (c *Client) ListMessages(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	request *zep.ThreadListMessagesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Message, *zep.MessagePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/threads/%v/messages",
		threadUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.MessagePage) *core.PageResponse[*string, *zep.Message, *zep.MessagePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Message, *zep.MessagePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.AddMessagesRequest{
//	    Messages: []*zep.AddMessage{
//	        &zep.AddMessage{},
//	    },
//	}
//	client.Thread.AddMessages(
//	    context.TODO(),
//	    "thread_uuid",
//	    request,
//	)
func (c *Client) AddMessages(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	request *zep.AddMessagesRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddMessagesResult, error) {
	response, err := c.WithRawResponse.AddMessages(
		ctx,
		threadUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Thread.GetSummary(
//	    context.TODO(),
//	    "thread_uuid",
//	)
func (c *Client) GetSummary(
	ctx context.Context,
	// Thread UUID
	threadUUID string,
	opts ...option.RequestOption,
) (*zep.ThreadSummary, error) {
	response, err := c.WithRawResponse.GetSummary(
		ctx,
		threadUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
