// Code generated by Fern. DO NOT EDIT.

package batch

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &zep.BatchListRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    Status: zep.String(
//	        "status",
//	    ),
//	}
//	client.Batch.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *zep.BatchListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Batch, *zep.BatchPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := baseURL + "/batches"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.BatchPage) *core.PageResponse[*string, *zep.Batch, *zep.BatchPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Batch, *zep.BatchPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.CreateBatchRequest{}
//	client.Batch.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *zep.CreateBatchRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Batch, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Batch.Get(
//	    context.TODO(),
//	    "batch_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Batch UUID
	batchUUID string,
	opts ...option.RequestOption,
) (*zep.Batch, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		batchUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Batch.Delete(
//	    context.TODO(),
//	    "batch_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Batch UUID
	batchUUID string,
	opts ...option.IdempotentRequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		batchUUID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Example:
//
//	request := &zep.BatchListItemsRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	}
//	client.Batch.ListItems(
//	    context.TODO(),
//	    "batch_uuid",
//	    request,
//	)
func (c *Client) ListItems(
	ctx context.Context,
	// Batch UUID
	batchUUID string,
	request *zep.BatchListItemsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.BatchItem, *zep.BatchItemPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/batches/%v/items",
		batchUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.BatchItemPage) *core.PageResponse[*string, *zep.BatchItem, *zep.BatchItemPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.BatchItem, *zep.BatchItemPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.AddBatchItemsRequest{
//	    Items: []*zep.BatchItemInput{
//	        &zep.BatchItemInput{
//	            Type: zep.V4BatchItemInputTypeGraphEpisode,
//	        },
//	    },
//	}
//	client.Batch.AddItems(
//	    context.TODO(),
//	    "batch_uuid",
//	    request,
//	)
func (c *Client) AddItems(
	ctx context.Context,
	// Batch UUID
	batchUUID string,
	request *zep.AddBatchItemsRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.BatchItemsResponse, error) {
	response, err := c.WithRawResponse.AddItems(
		ctx,
		batchUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Batch.Process(
//	    context.TODO(),
//	    "batch_uuid",
//	)
func (c *Client) Process(
	ctx context.Context,
	// Batch UUID
	batchUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.ProcessBatchResult, error) {
	response, err := c.WithRawResponse.Process(
		ctx,
		batchUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
