// Code generated by Fern. DO NOT EDIT.

package hyperedge

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	graph "github.com/getzep/zep-go/v4/graph"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Creates one hyperedge: a fact that relates more than two nodes, written
// onto one member edge per node pair. The member edges must span at least
// three distinct nodes, since two nodes are a pair of edges rather than a
// hyperedge; a single pair uses graph.edge.add. Zep assigns the hyperedge
// identifier and every member edge identifier at accept time, and the
// members become readable when the task completes.
//
// Example:
//
//	request := &graph.AddHyperedgeRequest{
//	    Edges: []*zep.HyperedgeInput{
//	        &zep.HyperedgeInput{
//	            Name: "name",
//	            SourceNode: &zep.EdgeNodeRef{},
//	            TargetNode: &zep.EdgeNodeRef{},
//	        },
//	    },
//	    Fact: "fact",
//	}
//	client.Graph.Hyperedge.Add(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) Add(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.AddHyperedgeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddHyperedgeResult, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		graphUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the graph's hyperedges. A hyperedge is listed while it has at
// least one member edge. Supported filters are node_uuids, edge_uuids and
// episode_uuids: a hyperedge matches a list when any of its members does,
// and must match every list supplied.
//
// Example:
//
//	request := &graph.HyperedgeListRequest{
//	    Body: &zep.ArtifactListRequest{},
//	}
//	client.Graph.Hyperedge.List(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.HyperedgeListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Hyperedge, *zep.HyperedgePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/hyperedges/list",
		graphUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.HyperedgePage) *core.PageResponse[*string, *zep.Hyperedge, *zep.HyperedgePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Hyperedge, *zep.HyperedgePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns one hyperedge assembled from its member edges. The fact and the
// validity timestamps are shared by every member and are reported on the
// hyperedge; each member reports only its own name and endpoints.
//
// Example:
//
//	client.Graph.Hyperedge.Get(
//	    context.TODO(),
//	    "graph_uuid",
//	    "hyperedge_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Hyperedge UUID
	hyperedgeUUID string,
	opts ...option.RequestOption,
) (*zep.Hyperedge, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		graphUUID,
		hyperedgeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes every member edge of the hyperedge. After the task completes the
// hyperedge and each of its members are gone.
//
// Example:
//
//	client.Graph.Hyperedge.Delete(
//	    context.TODO(),
//	    "graph_uuid",
//	    "hyperedge_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Hyperedge UUID
	hyperedgeUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.AsyncResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		graphUUID,
		hyperedgeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates the shared fact and writes it onto every member edge in one
// all-or-nothing write: either every member carries the new fact or none
// does. Only fact is accepted, because it is the only field the members
// share. name belongs to each member edge, and membership changes use
// create_edge and delete_edge. Updating fact on one member through
// graph.edge.update cascades the same way.
//
// Example:
//
//	request := &graph.PatchHyperedgeRequest{}
//	client.Graph.Hyperedge.Update(
//	    context.TODO(),
//	    "graph_uuid",
//	    "hyperedge_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Hyperedge UUID
	hyperedgeUUID string,
	request *graph.PatchHyperedgeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Hyperedge, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		graphUUID,
		hyperedgeUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Adds one member edge to an existing hyperedge. The new member inherits the
// hyperedge's fact and timestamps and joins its episodes, so only its own
// name and node pair are supplied.
//
// Example:
//
//	request := &graph.AddHyperedgeEdgeRequest{
//	    Name: "name",
//	    SourceNode: &zep.EdgeNodeRef{},
//	    TargetNode: &zep.EdgeNodeRef{},
//	}
//	client.Graph.Hyperedge.CreateEdge(
//	    context.TODO(),
//	    "graph_uuid",
//	    "hyperedge_uuid",
//	    request,
//	)
func (c *Client) CreateEdge(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Hyperedge UUID
	hyperedgeUUID string,
	request *graph.AddHyperedgeEdgeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddHyperedgeEdgeResult, error) {
	response, err := c.WithRawResponse.CreateEdge(
		ctx,
		graphUUID,
		hyperedgeUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Removes one member edge from the hyperedge. The remaining members stay in
// the hyperedge, and deleting the last member removes the hyperedge itself.
//
// Example:
//
//	client.Graph.Hyperedge.DeleteEdge(
//	    context.TODO(),
//	    "graph_uuid",
//	    "hyperedge_uuid",
//	    "edge_uuid",
//	)
func (c *Client) DeleteEdge(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Hyperedge UUID
	hyperedgeUUID string,
	// Edge UUID
	edgeUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.AsyncResult, error) {
	response, err := c.WithRawResponse.DeleteEdge(
		ctx,
		graphUUID,
		hyperedgeUUID,
		edgeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
