// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	io "io"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	agent "github.com/getzep/zep-go/v4/agent"
	candidate "github.com/getzep/zep-go/v4/agent/skill/candidate"
	evaluation "github.com/getzep/zep-go/v4/agent/skill/evaluation"
	evidence "github.com/getzep/zep-go/v4/agent/skill/evidence"
	export "github.com/getzep/zep-go/v4/agent/skill/export"
	publication "github.com/getzep/zep-go/v4/agent/skill/publication"
	relation "github.com/getzep/zep-go/v4/agent/skill/relation"
	use "github.com/getzep/zep-go/v4/agent/skill/use"
	version "github.com/getzep/zep-go/v4/agent/skill/version"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient
	Candidate       *candidate.Client
	Evaluation      *evaluation.Client
	Publication     *publication.Client
	Evidence        *evidence.Client
	Relation        *relation.Client
	Version         *version.Client
	Use             *use.Client
	Export          *export.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		Candidate:       candidate.NewClient(options),
		Evaluation:      evaluation.NewClient(options),
		Publication:     publication.NewClient(options),
		Evidence:        evidence.NewClient(options),
		Relation:        relation.NewClient(options),
		Version:         version.NewClient(options),
		Use:             use.NewClient(options),
		Export:          export.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &agent.CreateAgentSkillRequest{
//	    Definition: &zep.SkillDefinition{},
//	}
//	client.Agent.Skill.Create(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.CreateAgentSkillRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentSkill, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submit a portable Skill archive. The completed Task returns `{"result":{"skill_uuid":"<uuid>"}}`. Approve that Skill before retrieval.
func (c *Client) ImportPackage(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request io.Reader,
	opts ...option.IdempotentRequestOption,
) (*zep.Task, error) {
	response, err := c.WithRawResponse.ImportPackage(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.AgentSkillListRequest{}
//	client.Agent.Skill.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.AgentSkillListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentSkillSearchHit, *zep.Pagev4AgentSkillSearchHit], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/skills/list",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.Pagev4AgentSkillSearchHit) *core.PageResponse[*string, *zep.AgentSkillSearchHit, *zep.Pagev4AgentSkillSearchHit] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentSkillSearchHit, *zep.Pagev4AgentSkillSearchHit]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &agent.AgentSkillSearchRequest{
//	    Query: "query",
//	}
//	client.Agent.Skill.Search(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Search(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.AgentSkillSearchRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentSkillSearchHit, *zep.AgentSkillSearchResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/skills/search",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.AgentSkillSearchResponse) *core.PageResponse[*string, *zep.AgentSkillSearchHit, *zep.AgentSkillSearchResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentSkillSearchHit, *zep.AgentSkillSearchResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Agent.Skill.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "skill_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Skill UUID
	skillUUID string,
	opts ...option.RequestOption,
) (*zep.AgentSkill, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		skillUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.ApproveAgentSkillRequest{
//	    ExpectedVersion: 1,
//	}
//	client.Agent.Skill.Approve(
//	    context.TODO(),
//	    "agent_uuid",
//	    "skill_uuid",
//	    request,
//	)
func (c *Client) Approve(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Skill UUID
	skillUUID string,
	request *agent.ApproveAgentSkillRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentSkillAdmissionDecision, error) {
	response, err := c.WithRawResponse.Approve(
		ctx,
		agentUUID,
		skillUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.RetireAgentSkillRequest{
//	    ExpectedVersion: 1,
//	}
//	client.Agent.Skill.Retire(
//	    context.TODO(),
//	    "agent_uuid",
//	    "skill_uuid",
//	    request,
//	)
func (c *Client) Retire(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Skill UUID
	skillUUID string,
	request *agent.RetireAgentSkillRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentSkill, error) {
	response, err := c.WithRawResponse.Retire(
		ctx,
		agentUUID,
		skillUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.CreateAgentSkillVersionRequest{
//	    Definition: &zep.SkillDefinition{},
//	    ExpectedVersion: 1,
//	}
//	client.Agent.Skill.CreateVersion(
//	    context.TODO(),
//	    "agent_uuid",
//	    "skill_uuid",
//	    request,
//	)
func (c *Client) CreateVersion(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Skill UUID
	skillUUID string,
	request *agent.CreateAgentSkillVersionRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentSkillVersion, error) {
	response, err := c.WithRawResponse.CreateVersion(
		ctx,
		agentUUID,
		skillUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
