// Code generated by Fern. DO NOT EDIT.

package episode

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	graph "github.com/getzep/zep-go/v4/graph"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &graph.EpisodeListForDocumentRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	}
//	client.Graph.Episode.ListForDocument(
//	    context.TODO(),
//	    "graph_uuid",
//	    "document_id",
//	    request,
//	)
func (c *Client) ListForDocument(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Document ID
	documentID string,
	request *graph.EpisodeListForDocumentRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, zep.JSONObject, *zep.JSONObjectPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/documents/%v/episodes",
		graphUUID,
		documentID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.JSONObjectPage) *core.PageResponse[*string, zep.JSONObject, *zep.JSONObjectPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, zep.JSONObject, *zep.JSONObjectPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &graph.AddEpisodeRequest{}
//	client.Graph.Episode.Add(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) Add(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.AddEpisodeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddEpisodeResult, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		graphUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &graph.EpisodeListRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    Body: &zep.ArtifactListRequest{},
//	}
//	client.Graph.Episode.List(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.EpisodeListRequest,
	opts ...option.IdempotentRequestOption,
) (*core.Page[*string, zep.JSONObject, *zep.JSONObjectPage], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/episodes/list",
		graphUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.JSONObjectPage) *core.PageResponse[*string, zep.JSONObject, *zep.JSONObjectPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, zep.JSONObject, *zep.JSONObjectPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Graph.Episode.Get(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	opts ...option.RequestOption,
) (zep.JSONObject, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		graphUUID,
		episodeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Graph.Episode.Delete(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.AsyncResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		graphUUID,
		episodeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &graph.PatchEpisodeRequest{}
//	client.Graph.Episode.Update(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	request *graph.PatchEpisodeRequest,
	opts ...option.IdempotentRequestOption,
) (zep.JSONObject, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		graphUUID,
		episodeUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
