// Code generated by Fern. DO NOT EDIT.

package episode

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	graph "github.com/getzep/zep-go/v4/graph"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &graph.EpisodeListForDocumentRequest{}
//	client.Graph.Episode.ListForDocument(
//	    context.TODO(),
//	    "graph_uuid",
//	    "document_id",
//	    request,
//	)
func (c *Client) ListForDocument(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Document ID
	documentID string,
	request *graph.EpisodeListForDocumentRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Episode, *zep.EpisodePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/documents/%v/episodes",
		graphUUID,
		documentID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.EpisodePage) *core.PageResponse[*string, *zep.Episode, *zep.EpisodePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Episode, *zep.EpisodePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &graph.AddEpisodeRequest{
//	    Data: "data",
//	}
//	client.Graph.Episode.Add(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) Add(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.AddEpisodeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddEpisodeResult, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		graphUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists the episodes of a graph. `filters.mentioned_node_uuids` restricts
// the results to episodes that mention any of the listed node UUIDs. The
// list can also contain episode UUIDs: an episode UUID matches that episode,
// so one request can return a known set of episodes. At most 256 entries.
// `filters.metadata_filters` restricts the results to episodes whose stored
// metadata matches the predicate.
//
// Example:
//
//	request := &graph.EpisodeListRequest{
//	    Body: &zep.ArtifactListRequest{},
//	}
//	client.Graph.Episode.List(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.EpisodeListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Episode, *zep.EpisodePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/episodes/list",
		graphUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.EpisodePage) *core.PageResponse[*string, *zep.Episode, *zep.EpisodePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Episode, *zep.EpisodePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Graph.Episode.Get(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	opts ...option.RequestOption,
) (*zep.Episode, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		graphUUID,
		episodeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Graph.Episode.Delete(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.AsyncResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		graphUUID,
		episodeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &graph.PatchEpisodeRequest{}
//	client.Graph.Episode.Update(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	request *graph.PatchEpisodeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Episode, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		graphUUID,
		episodeUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the ingestion workflow log of an episode. The log exists only when debug logging was enabled for the project when the episode was ingested (see `debug_log.enable`). The log holds episode content, so an API key with an ABAC policy needs an explicit grant of this action; the `readonly` macro does not grant it.
//
// Example:
//
//	client.Graph.Episode.GetDebugLogs(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	)
func (c *Client) GetDebugLogs(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	opts ...option.RequestOption,
) (*zep.EpisodeDebugLog, error) {
	response, err := c.WithRawResponse.GetDebugLogs(
		ctx,
		graphUUID,
		episodeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the ingestion traces of an episode, oldest first. Each trace records the input and the output of one ingestion step, with an explanation on each output entry that has one. Traces exist only when ingestion tracing was enabled for the project when the episode was ingested (see `debug_log.enable`). An episode with no traces returns a page with an empty `items` array. Traces hold episode content, prompt input, and model output, so an API key with an ABAC policy needs an explicit grant of this action; the `readonly` macro does not grant it.
//
// Example:
//
//	request := &graph.EpisodeListIngestionTracesRequest{}
//	client.Graph.Episode.ListIngestionTraces(
//	    context.TODO(),
//	    "graph_uuid",
//	    "episode_uuid",
//	    request,
//	)
func (c *Client) ListIngestionTraces(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Episode UUID
	episodeUUID string,
	request *graph.EpisodeListIngestionTracesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.IngestionTrace, *zep.IngestionTracePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/episodes/%v/ingestion-traces",
		graphUUID,
		episodeUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.IngestionTracePage) *core.PageResponse[*string, *zep.IngestionTrace, *zep.IngestionTracePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.IngestionTrace, *zep.IngestionTracePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
