// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	trajectoryimport "github.com/getzep/zep-go/v4/agent/trajectoryimport"
	item "github.com/getzep/zep-go/v4/agent/trajectoryimport/run/item"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient
	Item            *item.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		Item:            item.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List runs that belong to this trajectory import.
//
// Example:
//
//	request := &trajectoryimport.RunListRequest{}
//	client.Agent.TrajectoryImport.Run.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	request *trajectoryimport.RunListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.TrajectoryImportRun, *zep.TrajectoryImportRunPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/trajectory-imports/%v/runs",
		agentUUID,
		importUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.TrajectoryImportRunPage) *core.PageResponse[*string, *zep.TrajectoryImportRun, *zep.TrajectoryImportRunPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.TrajectoryImportRun, *zep.TrajectoryImportRunPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Create a pending run and its Task. This operation does not start the run.
//
// Example:
//
//	client.Agent.TrajectoryImport.Run.Create(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	)
func (c *Client) Create(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.Task, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		agentUUID,
		importUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Read one run that belongs to this trajectory import.
//
// Example:
//
//	client.Agent.TrajectoryImport.Run.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	    "run_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	// Run UUID
	runUUID string,
	opts ...option.RequestOption,
) (*zep.TrajectoryImportRun, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		importUUID,
		runUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
