// Code generated by Fern. DO NOT EDIT.

package usergroup

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.CreateUserGroupRequest{
//	    Name: "name",
//	}
//	client.UserGroup.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *zep.CreateUserGroupRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.UserGroup, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.UserGroupListRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    Body: &zep.SearchListRequest{},
//	}
//	client.UserGroup.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *zep.UserGroupListRequest,
	opts ...option.IdempotentRequestOption,
) (*core.Page[*string, *zep.UserGroup, *zep.UserGroupPage], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := baseURL + "/user-groups/list"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.UserGroupPage) *core.PageResponse[*string, *zep.UserGroup, *zep.UserGroupPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.UserGroup, *zep.UserGroupPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	client.UserGroup.Get(
//	    context.TODO(),
//	    "group_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	opts ...option.RequestOption,
) (*zep.UserGroup, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		groupUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	client.UserGroup.Delete(
//	    context.TODO(),
//	    "group_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	opts ...option.IdempotentRequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		groupUUID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.PatchUserGroupRequest{}
//	client.UserGroup.Update(
//	    context.TODO(),
//	    "group_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	request *zep.PatchUserGroupRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.UserGroup, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		groupUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.UserGroupListMemberCandidatesRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    Body: &zep.SearchListRequest{},
//	}
//	client.UserGroup.ListMemberCandidates(
//	    context.TODO(),
//	    "group_uuid",
//	    request,
//	)
func (c *Client) ListMemberCandidates(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	request *zep.UserGroupListMemberCandidatesRequest,
	opts ...option.IdempotentRequestOption,
) (*core.Page[*string, *zep.User, *zep.UserPage], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/user-groups/%v/member-candidates/list",
		groupUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.UserPage) *core.PageResponse[*string, *zep.User, *zep.UserPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.User, *zep.UserPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.MutateMembersRequest{
//	    UserUUIDs: []string{
//	        "user_uuids",
//	    },
//	}
//	client.UserGroup.AddMembers(
//	    context.TODO(),
//	    "group_uuid",
//	    request,
//	)
func (c *Client) AddMembers(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	request *zep.MutateMembersRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.MembershipMutationResult, error) {
	response, err := c.WithRawResponse.AddMembers(
		ctx,
		groupUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.UserGroupListMembersRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    Body: &zep.SearchListRequest{},
//	}
//	client.UserGroup.ListMembers(
//	    context.TODO(),
//	    "group_uuid",
//	    request,
//	)
func (c *Client) ListMembers(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	request *zep.UserGroupListMembersRequest,
	opts ...option.IdempotentRequestOption,
) (*core.Page[*string, *zep.User, *zep.UserPage], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/user-groups/%v/members/list",
		groupUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.UserPage) *core.PageResponse[*string, *zep.User, *zep.UserPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.User, *zep.UserPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.MutateMembersRequest{
//	    UserUUIDs: []string{
//	        "user_uuids",
//	    },
//	}
//	client.UserGroup.RemoveMembers(
//	    context.TODO(),
//	    "group_uuid",
//	    request,
//	)
func (c *Client) RemoveMembers(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	request *zep.MutateMembersRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.MembershipMutationResult, error) {
	response, err := c.WithRawResponse.RemoveMembers(
		ctx,
		groupUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	client.UserGroup.RemoveMember(
//	    context.TODO(),
//	    "group_uuid",
//	    "user_uuid",
//	)
func (c *Client) RemoveMember(
	ctx context.Context,
	// User group UUID
	groupUUID string,
	// User UUID
	userUUID string,
	opts ...option.IdempotentRequestOption,
) error {
	_, err := c.WithRawResponse.RemoveMember(
		ctx,
		groupUUID,
		userUUID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Requires a project API key, or an account-admin bearer token with the X-Zep-Project header. The account must be entitled to attribute-based access control.
//
// Example:
//
//	request := &zep.UserGroupListForUserRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	}
//	client.UserGroup.ListForUser(
//	    context.TODO(),
//	    "user_uuid",
//	    request,
//	)
func (c *Client) ListForUser(
	ctx context.Context,
	// User UUID
	userUUID string,
	request *zep.UserGroupListForUserRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.UserGroup, *zep.UserGroupPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/users/%v/user-groups",
		userUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.UserGroupPage) *core.PageResponse[*string, *zep.UserGroup, *zep.UserGroupPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.UserGroup, *zep.UserGroupPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
