// Code generated by Fern. DO NOT EDIT.

package edge

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	graph "github.com/getzep/zep-go/v4/graph"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Adds 1 to 100 edges. A name creates a node when deduplicate is false. When deduplicate is true, Zep matches a node by name first.
// Example: {"edges":[{"fact":"Ada works at Acme Corp","fact_name":"WORKS_AT","source_node":{"uuid":"f47ac10b-58cc-4372-a567-0e02b2c3d479"},"target_node":{"uuid":"f47ac10b-58cc-4372-a567-0e02b2c3d480"}},{"fact":"Ada leads a team","fact_name":"LEADS","source_node":{"name":"Ada Lovelace","labels":["Person"]},"target_node":{"name":"Engineering","labels":["Department"]}}],"deduplicate":false}
//
// Example:
//
//	request := &graph.AddEdgesRequest{
//	    Edges: []*zep.EdgeInput{
//	        &zep.EdgeInput{
//	            Fact: "Ada works at Acme Corp",
//	            FactName: "WORKS_AT",
//	            SourceNode: &zep.EdgeNodeRef{},
//	            TargetNode: &zep.EdgeNodeRef{},
//	        },
//	    },
//	}
//	client.Graph.Edge.Add(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) Add(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.AddEdgesRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AddEdgesResult, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		graphUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &graph.EdgeListRequest{
//	    Body: &zep.ArtifactListRequest{},
//	}
//	client.Graph.Edge.List(
//	    context.TODO(),
//	    "graph_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	request *graph.EdgeListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.Edge, *zep.EdgePage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/graphs/%v/edges/list",
		graphUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.EdgePage) *core.PageResponse[*string, *zep.Edge, *zep.EdgePage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.Edge, *zep.EdgePage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Graph.Edge.Get(
//	    context.TODO(),
//	    "graph_uuid",
//	    "edge_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Edge UUID
	edgeUUID string,
	opts ...option.RequestOption,
) (*zep.Edge, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		graphUUID,
		edgeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Graph.Edge.Delete(
//	    context.TODO(),
//	    "graph_uuid",
//	    "edge_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Edge UUID
	edgeUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.AsyncResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		graphUUID,
		edgeUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates one edge. When the edge belongs to a hyperedge, changing fact
// rewrites it on every member of that hyperedge in one all-or-nothing
// write, because the members share it. Attribute-only edits touch this
// edge alone.
//
// Example:
//
//	request := &graph.PatchEdgeRequest{}
//	client.Graph.Edge.Update(
//	    context.TODO(),
//	    "graph_uuid",
//	    "edge_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Graph UUID
	graphUUID string,
	// Edge UUID
	edgeUUID string,
	request *graph.PatchEdgeRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Edge, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		graphUUID,
		edgeUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
