// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	agent "github.com/getzep/zep-go/v4/agent"
	client "github.com/getzep/zep-go/v4/agent/trajectoryimport/run/client"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient
	Run             *client.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		Run:             client.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List trajectory imports that belong to this Agent.
//
// Example:
//
//	request := &agent.TrajectoryImportListRequest{}
//	client.Agent.TrajectoryImport.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.TrajectoryImportListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.TrajectoryImport, *zep.TrajectoryImportPage], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/trajectory-imports",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.TrajectoryImportPage) *core.PageResponse[*string, *zep.TrajectoryImport, *zep.TrajectoryImportPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.TrajectoryImport, *zep.TrajectoryImportPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Create a scheduled import or queue a one-time import. Example request: `{"connection_uuid":"8c78a85e-eac2-4f57-b5f5-59a68a1e77a1","provider_project_id":"project-123","name":"Support traces","selection":{"trace_ids":["trace-123"]},"mapping":{"task_family":{"source":"fixed","value":"support"}}}`.
//
// Example:
//
//	request := &agent.CreateTrajectoryImportRequest{}
//	client.Agent.TrajectoryImport.Create(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.CreateTrajectoryImportRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.TrajectoryImport, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		agentUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Read one trajectory import. The response does not include its source cursor.
//
// Example:
//
//	client.Agent.TrajectoryImport.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	opts ...option.RequestOption,
) (*zep.TrajectoryImport, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		importUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Set `trajectories=delete` to queue asynchronous Trajectory deletion. The default keeps Trajectories. Example query: `?trajectories=delete`.
//
// Example:
//
//	request := &agent.TrajectoryImportDeleteRequest{}
//	client.Agent.TrajectoryImport.Delete(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	request *agent.TrajectoryImportDeleteRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.Task, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		agentUUID,
		importUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use `expected_revision` to reject a stale update. Example request: `{"expected_revision":1,"name":"Updated support traces"}`.
//
// Example:
//
//	request := &agent.UpdateTrajectoryImportRequest{}
//	client.Agent.TrajectoryImport.Update(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	request *agent.UpdateTrajectoryImportRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.TrajectoryImport, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		agentUUID,
		importUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Pause a scheduled trajectory import. One-time imports cannot be paused.
//
// Example:
//
//	client.Agent.TrajectoryImport.Pause(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	)
func (c *Client) Pause(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.TrajectoryImport, error) {
	response, err := c.WithRawResponse.Pause(
		ctx,
		agentUUID,
		importUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Resume a scheduled trajectory import. Zep verifies credentials first when they caused the pause.
//
// Example:
//
//	client.Agent.TrajectoryImport.Resume(
//	    context.TODO(),
//	    "agent_uuid",
//	    "import_uuid",
//	)
func (c *Client) Resume(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Trajectory import UUID
	importUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.TrajectoryImport, error) {
	response, err := c.WithRawResponse.Resume(
		ctx,
		agentUUID,
		importUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
