// Code generated by Fern. DO NOT EDIT.

package verifier

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	agent "github.com/getzep/zep-go/v4/agent"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &agent.AgentVerifierListRequest{}
//	client.Agent.Verifier.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *agent.AgentVerifierListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentVerifier, *zep.Pagev4AgentVerifier], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/verifiers/list",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	core.SetIdempotencyKeyHeader(headers)

	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.Pagev4AgentVerifier) *core.PageResponse[*string, *zep.AgentVerifier, *zep.Pagev4AgentVerifier] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentVerifier, *zep.Pagev4AgentVerifier]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Agent.Verifier.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "verifier_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Verifier UUID
	verifierUUID string,
	opts ...option.RequestOption,
) (*zep.AgentVerifier, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		verifierUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.PatchAgentVerifierRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Verifier.Update(
//	    context.TODO(),
//	    "agent_uuid",
//	    "verifier_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Verifier UUID
	verifierUUID string,
	request *agent.PatchAgentVerifierRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentVerifier, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		agentUUID,
		verifierUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.InvalidateAgentVerifierEvidenceRequest{
//	    Reason: "reason",
//	    VerifierRevisions: []int{
//	        1,
//	    },
//	}
//	client.Agent.Verifier.InvalidateEvidence(
//	    context.TODO(),
//	    "agent_uuid",
//	    "verifier_uuid",
//	    request,
//	)
func (c *Client) InvalidateEvidence(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Verifier UUID
	verifierUUID string,
	request *agent.InvalidateAgentVerifierEvidenceRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentVerifierEvidenceInvalidationResult, error) {
	response, err := c.WithRawResponse.InvalidateEvidence(
		ctx,
		agentUUID,
		verifierUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &agent.RevokeAgentVerifierRequest{
//	    ExpectedRevision: 1,
//	}
//	client.Agent.Verifier.Revoke(
//	    context.TODO(),
//	    "agent_uuid",
//	    "verifier_uuid",
//	    request,
//	)
func (c *Client) Revoke(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Verifier UUID
	verifierUUID string,
	request *agent.RevokeAgentVerifierRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.AgentVerifier, error) {
	response, err := c.WithRawResponse.Revoke(
		ctx,
		agentUUID,
		verifierUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
