// Code generated by Fern. DO NOT EDIT.

package user

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &zep.CreateUserRequest{}
//	client.User.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *zep.CreateUserRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.User, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.UserListRequest{
//	    Limit: zep.Int(
//	        1,
//	    ),
//	    Cursor: zep.String(
//	        "cursor",
//	    ),
//	    OrderBy: zep.String(
//	        "order_by",
//	    ),
//	    Order: zep.String(
//	        "order",
//	    ),
//	}
//	client.User.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *zep.UserListRequest,
	opts ...option.IdempotentRequestOption,
) (*core.Page[*string, *zep.User, *zep.UserPage], error) {
	options := core.NewIdempotentRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := baseURL + "/users/list"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.UserPage) *core.PageResponse[*string, *zep.User, *zep.UserPage] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.User, *zep.UserPage]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &zep.LookupRequest{}
//	client.User.Lookup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Lookup(
	ctx context.Context,
	request *zep.LookupRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.User, error) {
	response, err := c.WithRawResponse.Lookup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.User.Get(
//	    context.TODO(),
//	    "user_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// User UUID
	userUUID string,
	opts ...option.RequestOption,
) (*zep.User, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		userUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.User.Delete(
//	    context.TODO(),
//	    "user_uuid",
//	)
func (c *Client) Delete(
	ctx context.Context,
	// User UUID
	userUUID string,
	opts ...option.IdempotentRequestOption,
) (*zep.UserDeleteResult, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		userUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.PatchUserRequest{}
//	client.User.Update(
//	    context.TODO(),
//	    "user_uuid",
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	// User UUID
	userUUID string,
	request *zep.PatchUserRequest,
	opts ...option.IdempotentRequestOption,
) (*zep.User, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		userUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.User.GetNode(
//	    context.TODO(),
//	    "user_uuid",
//	)
func (c *Client) GetNode(
	ctx context.Context,
	// User UUID
	userUUID string,
	opts ...option.RequestOption,
) (*zep.Node, error) {
	response, err := c.WithRawResponse.GetNode(
		ctx,
		userUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.User.GetSummaryInstructions(
//	    context.TODO(),
//	    "user_uuid",
//	)
func (c *Client) GetSummaryInstructions(
	ctx context.Context,
	// User UUID
	userUUID string,
	opts ...option.RequestOption,
) (*zep.UserSummaryInstructions, error) {
	response, err := c.WithRawResponse.GetSummaryInstructions(
		ctx,
		userUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &zep.UserSummaryInstructions{}
//	client.User.SetSummaryInstructions(
//	    context.TODO(),
//	    "user_uuid",
//	    request,
//	)
func (c *Client) SetSummaryInstructions(
	ctx context.Context,
	// User UUID
	userUUID string,
	request *zep.UserSummaryInstructions,
	opts ...option.IdempotentRequestOption,
) (*zep.UserSummaryInstructions, error) {
	response, err := c.WithRawResponse.SetSummaryInstructions(
		ctx,
		userUUID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
