// Code generated by Fern. DO NOT EDIT.

package candidate

import (
	context "context"
	http "net/http"
	os "os"

	zep "github.com/getzep/zep-go/v4"
	skill "github.com/getzep/zep-go/v4/agent/skill"
	core "github.com/getzep/zep-go/v4/core"
	internal "github.com/getzep/zep-go/v4/internal"
	option "github.com/getzep/zep-go/v4/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("ZEP_API_KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &skill.CandidateListRequest{}
//	client.Agent.Skill.Candidate.List(
//	    context.TODO(),
//	    "agent_uuid",
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	request *skill.CandidateListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *zep.AgentSkillCandidateReviewSummary, *zep.Pagev4AgentSkillCandidateReviewSummary], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.getzep.com/api/v4",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agents/%v/skill-candidates",
		agentUUID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(zep.ErrorCodes),
		}
	}
	readPageResponse := func(response *zep.Pagev4AgentSkillCandidateReviewSummary) *core.PageResponse[*string, *zep.AgentSkillCandidateReviewSummary, *zep.Pagev4AgentSkillCandidateReviewSummary] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetItems()
		return &core.PageResponse[*string, *zep.AgentSkillCandidateReviewSummary, *zep.Pagev4AgentSkillCandidateReviewSummary]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	client.Agent.Skill.Candidate.Get(
//	    context.TODO(),
//	    "agent_uuid",
//	    "review_uuid",
//	)
func (c *Client) Get(
	ctx context.Context,
	// Agent UUID
	agentUUID string,
	// Candidate review UUID
	reviewUUID string,
	opts ...option.RequestOption,
) (*zep.AgentSkillCandidateReview, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		agentUUID,
		reviewUUID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
